@keyframes jump {
    0%   { transform: translate3d(0, 0, 0); }
    25%  { transform: translate3d(0, -35%, 0); }
    50% { transform: translate3d(0, 0, 0); }
    75%  { transform: translate3d(0, -35%, 0); }
    100%  { transform: translate3d(0, 0, 0); }
}
@keyframes rotate {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}